<!--/banner-->
	<div class="banner">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				{% for i in main_slides%}
				<li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"></li>
					{% if forloop.first %}
					<li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
					{% endif %}
				{% endfor %}
			</ol>
			
			
			<div class="carousel-inner"  role="listbox">
			{% for i in main_slides%}
				{% if forloop.first %}
				<div class="carousel-item active" style="background: linear-gradient(rgba(23,22,23,0.2), rgba(23,22,23,0.5)), url('{{ i.image.url }}') no-repeat;">
					<div class="carousel-caption">
						<h3>
							{{ i.text }}
						</h3>
						<div class="read">
							<a href="{{ i.url }}" class="btn btn-primary read-m">{{ i.btn_text }}</a>
						</div>
					</div>
				</div>
				{% else %}
				<div class="carousel-item item{{i}}" style="background: linear-gradient(rgba(23,22,23,0.2), rgba(23,22,23,0.5)), url('{{ i.image.url }}') no-repeat;">
					<div class="carousel-caption">
						<h3>
							{{ i.text }}
						</h3>
						<div class="read">
							<a href="{{ i.url }}" class="btn btn-primary read-m">{{ i.btn_text }}</a>
						</div>
					</div>
				</div>
				{% endif %}
			{% endfor %}
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	<!--/model-->
	<!--//banner-->