{% extends 'base.html' %}
{% load static %}

{% block main %}

<div class="site-section pt-3">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <h2 class="display-5 mb-3 text-black">ЖЕНЩИНЫ, МИР И БЕЗОПАСНОСТЬ: КАК РЕЗОЛЮЦИЯ 1325 ИЗМЕНИЛА МИРОВОЕ МЫШЛЕНИЕ</h2>
      </div>
      <div class="col-lg-6">
        <p>
            В современном мире устойчивый мир и безопасность
невозможны без полноценного участия женщин. Хотя
женщины часто первыми страдают от конфликтов, они
играют ключевую роль в предотвращении насилия,
восстановлении сообществ и построении мира. Принятая в
2000 году Резолюция 1325 Совета Безопасности ООН стала
историческим шагом — впервые на глобальном уровне
было официально признано, что участие женщин в мирных
процессах необходимо, что вооружённые конфликты по-
разному влияют на мужчин и женщин, и что требуется
особая защита женщин и девочек. Резолюция также
положила начало формированию повестки «Женщины, мир
и безопасность», которая с 2015 года включает и
климатические угрозы.
        </p>
      </div>
      <div class="col-lg-6">
        <p>
            Принятая Советом Безопасности ООН в 2000 году,
Резолюция 1325 впервые в истории официально признала:
5. Зачем нужна Резолюция 1325?
Женщины играют ключевую роль в предотвращении
конфликтов и построении мира.
Необходимо защищать права женщин и девочек в
условиях конфликтов.
Участие женщин на всех этапах мирных процессов
повышает их эффективность и устойчивость.
Почему это важно для всех: Мир не может быть
устойчивым без равноправного участия женщин в
принятии решений, особенно в сфере мира и безопасности.
        </p>
      </div>
    </div>
    <div class="row  justify-content-around">
      <div class="col-md-12">
        
        <!-- <img src="images/1x/asset-1.png" alt="Image" class="img-fluid mb-5">     -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
    
    