	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-4 footer-grid-agileits-w3ls text-left">
					<h3>О нас</h3>
					<p class="clamp-text">
                        Женщины, Мир и безопасность: Роль женщины в укреплении мира и безопасности нау ровне местных сообществ.
                    </p>
					<div class="read">
						<a href="{% url 'about-us' %}" class="btn btn-primary read-m">Подробнее</a>
					</div>
				</div>
				<div id="contacts" class="col-lg-4 footer-grid-agileits-w3ls text-left">
					<h3>Контакты</h3>
					<p>
                        Адрес: овитмо
                    </p>
					
				</div>

				
			</div>
			<!-- footer -->
			<div class="footer-cpy text-center">
				<div class="footer-social">
					<div class="copyrighttop">
						{% include 'includes/networks-b.html' %}

					</div>
				</div>
				<div class="w3layouts-agile-copyrightbottom">
					<p>© 2025 created by 
						<a href="https://t.me/@ayanades">@ayanades</a>
					</p>

				</div>
			</div>

			<!-- //footer -->


		</div>
	</footer>